services:
  postgres:
    image: postgres:17.7-alpine3.23

    container_name: ginject_postgres

    restart: unless-stopped

    environment:
      POSTGRES_DB: ${POSTGRES_DB}
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      PGDATA: /var/lib/postgresql/data/pgdata

    ports:
      - "${POSTGRES_PORT:-5432}:5432"

    volumes:
      - pg_data:/var/lib/postgresql/data

volumes:
  pg_data:
